<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>SSSFE (Super Serious SLACK File Manager)</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="humans.txt">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

</head>
<body>

		<div class="container" ng-app="SlackApp" ng-controller="slackMainController" data-ng-init="getFiles()">

			<div class="row">
				<div class="col-md-12">
					<h3>Super Serious SLACK File Manager 3001</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4>1. Get your Slack API token</h4>
					<ol>
						<li>Login to <a href="https://slack.com/signin" target="_blank">Slack</a> if you're not already</li>
						<li>Go to <a href="https://api.slack.com/web" target="_blank">https://api.slack.com</a></li>
						<li>Scroll to the bottom to 'Authentication'. Generate a token if you don't have one. Copy and paste into the field below.</li>
					</ol>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h4>2. View your Slack files</h4>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputToken" class="col-sm-2 control-label">Slack Token</label>
							<div class="col-sm-6" ng-class="{ 'has-error' : errors.slacktoken }">
								<input type="text" class="form-control" id="inputToken" placeholder="Your Token" ng-model="slacktoken">
								<span class="help-block" ng-show="errors.slacktoken">{{ errors.slacktoken }}</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">

							</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary" ng-click="getFiles()">Update Files</button>
									<label>
										<input type="checkbox" ng-model="rememberSlacktoken"> Remember token
									</label>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="bg-danger" style="padding:15px;" ng-show="errors.files">{{ errors.files }}</p>

					<div class="table-responsive">
						<table class="table">

							<thead>
								<tr>
									<th><a href="" ng-click="predicate = 'id'; reverse=!reverse">#</a></th>
									<th></th>
									<th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
									<th><a href="" ng-click="predicate = 'size'; reverse=!reverse">Size</a></th>
									<th><a href="" ng-click="predicate = 'pretty_type'; reverse=!reverse">Type</a></th>
									<th><a href="" ng-click="predicate = 'timestamp'; reverse=!reverse">Date</a></th>
									<th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
								</tr>
							</thead>

							<tr ng-repeat="file in files | orderBy:predicate:reverse">
								<td>{{ file.id }}</td>
								<td>
									<a href="{{ file.url }}" target="_blank">
										<img src="{{ file.thumb_64 }}" ng-show="file.thumb_64" />
									</a>
								</td>
								<td>
									<a href="{{ file.url_download}}" title="Download">
									{{ file.name }}
									</a>
								</td>
								<td>{{ file.size | prettySize }}</td>
								<td>{{ file.pretty_type }}</td>
								<td>{{ file.timestamp  * 1000 | date:'h:mma dd-MM-yyyy' }}</td>
								<td><input type="checkbox" ng-model="file.checked"  ng-click="updateCount()" checklist-value="{{ file.id }}"></td>
							</tr>

							<tr ng-show="!files.length" class="text-center">
								<td COLSPAN="7" class="text-info bg-warning"><i>No files found</i></td>
							</tr>

							<tr>
								<td COLSPAN="6" class="text-right"><strong>Total files:</strong></td>
								<td>{{ filesSummary.total_files }}</td>
							</tr>

							<tr>
								<td COLSPAN="6" class="text-right"><strong>Files selected:</strong></td>
								<td>{{ filesSummary.total_selected }}</td>
							</tr>

							<tr>
								<td COLSPAN="6" class="text-right"><strong>Total size:</strong></td>
								<td>{{ filesSummary.total_size | prettySize }}</td>
							</tr>

						</table>
					</div>

					<p class="pull-right">
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete Files</button>
					</p>

				</div>
			</div>


		</div>



		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Confirm</h4>
					</div>
					<div class="modal-body">
					Are you sure you wish to delete the seleted files
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteFiles()">Confirm Delete</button>
					</div>
				</div>
			</div>
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>')</script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-cookies.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

		<script src="js/angular-cookie.js"></script>
		<script src="js/main.js"></script>

</body>
</html>
